einops==0.6.0
ipykernel
ipywidgets
kaggle==1.5.12
jupyter
matplotlib
numpy==1.24.2
pandas==1.5.3
pillow==9.4.0
pytorch-lightning==1.9.2
scipy==1.24.2
tensorboard
torch==1.13.1
torchmetrics==0.11.3
torchvision==0.14.1